@import 'tailwindcss';
@import 'tw-animate-css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 24.6 95% 53.1%;

    --radius: 0.5rem;
  }
}

@layer base {
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    url('@/assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src:
    url('@/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:
    url('@/assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Inter-Bold.woff') format('woff');
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply m-0 min-w-[320px] min-h-screen text-black;
  font-size: 18px;
}
