@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "blueTheme";
  prefersdark: false;
  color-scheme: "light";

  /* Основной фон и поверхности */
  --color-base-100: #f9fbfd; /* светлый почти белый */
  --color-base-200: #eef3f8; /* вторичный фон */
  --color-base-300: #e2e8f0; /* границы и разделители */
  --color-base-content: #1f2937; /* тёмный текст */

  /* Основные цвета */
  --color-primary: #2f6feb; /* яркий голубовато-синий для акцентов */
  --color-primary-content: #ffffff;

  --color-secondary: #3a8dff; /* чуть светлее для вторичных кнопок */
  --color-secondary-content: #ffffff;

  --color-accent: #00c2ff; /* для выделений и поиска */
  --color-accent-content: #010515;

  /* Нейтральные */
  --color-neutral: #64748b; /* текст для второстепенной информации */
  --color-neutral-content: #ffffff;

  /* Служебные цвета */
  --color-info: #00b5ff;
  --color-info-content: #162455;

  --color-success: #22c55e; /* зеленый успеха */
  --color-success-content: #0c532b;

  --color-warning: #fbbf24; /* желтый */
  --color-warning-content: #1f2937;

  --color-error: #ef4444; /* красный для ошибок/резерва */
  --color-error-content: #ffffff;

  /* Скругления */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;

  /* Размеры */
  --size-selector: 0.5rem;
  --size-field: 0.5rem;

  /* Границы */
  --border: 1.5px;

  /* Глубина теней */
  --depth: 1;

  /* Убираем шум */
  --noise: 0;
}
